<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mob.commons">
	<application>
		<provider
			android:name="com.mob.MobProvider"
			android:exported="false"
			android:multiprocess="true"
			android:authorities="${applicationId}.com.mob.MobProvider" />
		<activity
			android:name="com.mob.tools.MobUIShell"
			android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
			android:theme="@style/MobShellTheme"
			android:windowSoftInputMode="stateHidden|adjustResize" />
	</application>
</manifest>