<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.example.jack.mobcomdemo">
	<!-- SsClt -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 其他统计项 -->
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

	<application
		android:name=".MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.mob.tools.MobUIShell"
			android:configChanges="keyboardHidden|orientation|screenSize|locale|layoutDirection"
			android:screenOrientation="portrait"
			android:theme="@style/MobShellTheme"
			android:windowSoftInputMode="stateHidden|adjustResize" />

		<meta-data
			android:name="Mob-AppKey"
			android:value="moba6b6c6d6"/>
		<meta-data
			android:name="Mob-AppSecret"
			android:value="b89d2427a3bc7ad1aea1e1e8c1d36bf3"/>
		<!--<meta-data-->
			<!--android:name="Domain"-->
			<!--android:value="us"/>-->

		<service
			android:name=".MyService"
			android:enabled="true"
			android:exported="true"
			android:process=":p2">
		</service>
		<provider
			android:name="com.mob.MobProvider"
			android:exported="false"
			android:multiprocess="true"
			android:authorities="${applicationId}.com.mob.MobProvider" />
<!--		<provider-->
<!--			android:name="com.mob.MobFileProvider"-->
<!--			android:authorities="${applicationId}.mob_file_provider"-->
<!--			android:grantUriPermissions="true"-->
<!--			android:exported="false">-->
<!--		</provider>-->
	</application>

</manifest>